{% extends 'layouts/base_1.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">Estado de Solicitudes de Permisos Realizadas por el Estudiante</h1>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
        </div>
        <div class="text-center col-md-64">
            <table class="table">
                <thead>
                    <tr>
                        <th>Materia(s)</th>
                        <th>Estado del (de los) Permiso(s) Solicitado(s)</th>
                        <th>Fecha en la que se Realiza la Solicitud</th>
                        <th>Observaciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id_solicitud, permisos in grouped_permisos.items %}
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="popover" title="Tus Materias">
                                Ver Materias
                            </button>

                            <div class="materias-content" data-solicitud-id="{{ id_solicitud }}" style="display: none;">
                                {% for materia in permisos %}
                                    {{ materia.materia }}{% if not forloop.last %}<br>{% endif %}
                                {% endfor %}
                            </div>
                        </td>

                        <td
                            class="{% if permisos.0.estado == 'Aceptado' %}table-success{% elif permisos.0.estado == 'Rechazado' %}table-danger{% elif permisos.0.estado == 'Pendiente' %}table-warning{% elif permisos.0.estado == 'Observado' %}table-info{% endif %}">
                            <strong>{{ permisos.0.estado }}</strong>

                            {% if permisos.0.estado == 'Aceptado' %}
                            <div class="text-black" style="white-space: pre-line;">La solicitud cuenta con los
                                requisitos necesarios para ser considerada válida por Dirección de Carrera.</div>
                            {% elif permisos.0.estado == 'Rechazado' %}
                            <div class="text-black" style="white-space: pre-line;">La solicitud no cuenta con los
                                requisitos necesarios para ser considerada válida por Dirección de Carrera.</div>
                            {% elif permisos.0.estado == 'Observado' %}
                            <div class="text-black" style="white-space: pre-line;">La solicitud fue observada y se deja
                                a consideración del docente de la materia el aceptar o rechazar la solicitud. Si desea
                                añadir un comentario o un nuevo archivo, puede hacerlo con el botón añadir.
                            </div>
                            <button type="button" class="btn btn-primary" id="ComentarioArchivo">
                                Añadir
                            </button>
                            {% endif %}
                        </td>

                        <td>{{ permisos.0.fechaSolicitud }}</td>
                        <td>{{ permisos.0.observaciones }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl, {
                content: function () {
                    var materiasContent = popoverTriggerEl.nextElementSibling.cloneNode(true);
                    materiasContent.style.display = 'block';  // Mostrar el contenido
                    return materiasContent.outerHTML;
                },
                html: true  // Indicar que el contenido es HTML
            })
        });

        const toggleButtons = document.querySelectorAll(".toggle-button");
        const comentario = document.getElementById("ComentarioArchivo");

        toggleButtons.forEach(button => {
            button.addEventListener("click", function () {
                const solicitudId = this.getAttribute("data-solicitud-id");
                const materiasContent = document.querySelector(`.materias-content[data-solicitud-id="${solicitudId}"]`);

                // Toggle the visibility of materias content
                if (materiasContent.style.display === "none" || materiasContent.style.display === "") {
                    materiasContent.style.display = "block";
                } else {
                    materiasContent.style.display = "none";
                }
            });
        });

        comentario.addEventListener("click", function () {
            const buttonContainer = this.parentNode;

            const comentInput = document.createElement("div");
            const pdfInput = document.createElement("div");
            const button = document.createElement("div");
            const closeButtons = document.createElement("div");

            comentInput.innerHTML = '<textarea type="text" id="comentario" class="form-control" aria-label="Comentario" autocomplete="off"></textarea>';
            pdfInput.innerHTML = '<input type="file" id="pdfInput" class="form-control" aria-describedby="addon-wrapping" accept="application/pdf">';
            button.innerHTML = '<button type="button" class="btn btn-success" id="RegistrarComentarioArchivo">Registrar</button>\
            <button type="button" class="btn btn-danger" id="CancelarComentarioArchivo">Cancelar</button>';
            closeButtons.innerHTML = '<button type="button" class="btn btn-danger" id="CancelarComentarioArchivo">Cancelar</button>';

            buttonContainer.removeChild(comentario);
            buttonContainer.appendChild(comentInput);
            buttonContainer.appendChild(pdfInput);
            buttonContainer.appendChild(button);
            buttonContainer.appendChild(closeButtons);
        });

        closeButtons.addEventListener("click", function () {
            const buttonContainer = this.parentNode;
            const comentInput = document.getElementById("comentario");
            const pdfInput = document.getElementById("pdfInput");
            const button = document.getElementById("RegistrarComentarioArchivo");
            const comentario = document.createElement("div");
            comentario.innerHTML = '<button type="button" class="btn btn-primary" id="ComentarioArchivo">Añadir</button>';

            buttonContainer.removeChild(comentInput);
            buttonContainer.removeChild(pdfInput);
            buttonContainer.removeChild(button);
            buttonContainer.removeChild(closeButtons);
            buttonContainer.appendChild(comentario);
        });
    });
</script>
{% endblock %}
